body {
  background-color: orangered;
  margin: 0;
  font-family: rubik;
  color: white;
}

#pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

}

.card {
  list-style: none;
  width: 150px;
  height: 250px;
  text-align: center;
  border: 1px solid black;
  background-color: #f4f4f4;
  color: #222;
}

.card:hover {
  animation: bounce 0.5s linear;
}